<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 03.07.2019, 18:30</p>
            <h2><a href="">My first post</a></h2>
            <p>my first post is here</p>
        </div>

        <div>
            <p>published: 03.07.2019, 18:30</p>
            <h2><a href="">My second post</a></h2>
            <p>my second post is here</p>
        </div>
    </body>
</html>